<nav></nav>

<h1>Dibyajeet Das</h1>
<!--using curly brases to define the value dynamically -->
<p>define the title of the project : <b>{{title}}</b></p>

<h2>{{friend}}</h2>

<h3>adding value of both the elements : {{x + y}}</h3>
<!--using javascript inside of it -->   
<h2>{{'Hello'.toUpperCase()}}</h2>

<!-- <login></login> -->



  <h1>Basic Routing in Angular</h1>
  <ul>
    <li>
      <!--defining routinh in angular to go the next page-->
      <a routerLink="/contact">contact</a>
    </li>
    <li>
      <a routerLink="/about">about</a>
    </li>
  </ul>


  <router-outlet></router-outlet>
